.nav-link:hover {
    color: var(--bs-nav-link-hover-color); /* Biasanya biru atau abu terang */
  }
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
body.dark-mode .container-fluid {
  background-color: #181c24 !important;
  color: #fff !important;
}
body.dark-mode .card {
  background-color: #23272f !important;
  color: #fff !important;
  border-color: #333 !important;
}
body.dark-mode .card .card-title,
body.dark-mode .card .text-muted,
body.dark-mode .card .card-body {
  color: #fff !important;
}
body.dark-mode h4.fw-bold {
  color: #fff !important;
}
.dark-mode .profile-card,
.dark-mode .settings-card,
.dark-mode .order-box {
  background-color: #1e1e1e;
  color: #ffffff;
}
.dark-mode .edit-btn {
  background-color: #ffffff;
  color: #133D91;
}
.dark-mode .form-control {
  background-color: #2c2c2c;
  color: #ffffff;
  border: 1px solid #444;
}
.dark-mode .form-label,
.dark-mode label,
.dark-mode .setting-item {
  color: #ffffff;
}
.dark-mode .form-control::placeholder {
  color: #cccccc;
}
.dark-mode .btn-light {
  background-color: #ffffff;
  color: #133D91;
}